<html>
<head>
<title>selfielessacts</title>


<style>

div.polaroid {
  float: left;
  width: 400px;
  height : 300px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 30px;
}
div.a1{
  width: 400px;
  height : 300px;
}

div.container {
  text-align: center;
  size:20pt;
  padding: 2px 2px;
  color: blue;
}

div.polaroid:hover {
    border: 1px solid #777;
}

body {
    background-image: url("a.jpg");
}

</style>
</head>


<body>
<div style="background-color:black;color:white">
  <table >
    <tr>
      <td style="width:1850px; color: white;"><h1><center><big>SelfieLessActs</big><center></h1></td>
           </tr>
</table>
</div>

  <table>
  <tr>
    <td >
<div class="polaroid">
  <a href="../CC/HumActs/hum.html">
  <video width="400" height="300" autoplay>
  <source src="hum.mp4" type="video/mp4">
</video>
  <div class="container"></a>
    <p><big>Humanitarian Acts</big></p>
  </div>
</div>
</td>

<td>
<div class="polaroid">
<a href="../CC/Petlove/pet.html">
  <video width="400" height="300" autoplay>
  <source src="pet.mp4" type="video/mp4">
</video>
<div class="container"></a>
<p><big>Pet Love</big></p>
</div>
</div>
</td>
</tr>
<tr>
  <td>
<div class="polaroid">
<a href="../CC/EnvConservation/env.html">
  <video width="400" height="300" autoplay>
  <source src="env.mp4" type="video/mp4">
</video>
<div class="container"></a>
  <p><big>Environmental Conservation</big></p>
</div>
</div>
</td>
<td>
<div class="polaroid">
<a href="../CC/NatResourceConservation/nat.html">
<img src="nat.jpg" style="width:100%">
<div class="container"></a>
<p><big>Natural Resource Conservation</big></p>
</div>
</div>
</td>
</tr>
</table>
</body>
</html>
